body {
    margin: 0%;
    background-image: url("img/lace.png");
    background-repeat: repeat;
}

#page {
    max-width: 980px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    text-align: center;
    background-color: blanchedalmond;
}

#textBox {
    margin: 0%;
    padding-bottom: 10px;
}

h1 {
    font-family: 'Meddon', cursive;
    font-size: 18px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
}

h2 {
    font-family: 'Meddon', cursive;
    text-align: left;
    color: #e0d375;
    margin-bottom: .2em;
}

.centered {
    text-align: center;
    margin: 0%;
}

p {
    margin-top: .5em;
    text-align: left;
    color: white;
    font-family: 'Volkhov', serif;
}

@media screen and (min-width: 320px) {
    h1 {
        font-size: calc(18px + 32 * ((100vw - 320px) / 660));
    }
}

@media screen and (min-width: 980px) {
    h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 32px;
        padding-left: 10%;
        padding-right: 10%;
    }
}

.purpleBlock {
    background-color: #aa8de0;
    text-align: center;
    min-width: 100%;
    float: none;
}

#nav {
    margin: 0 auto;
    align: center;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    max-width: 700 px;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 1.2em;
    font-family: 'Volkhov', serif;
    display: inline-block;
}

#flower {
    max-width: 60%;
    margin: 30px;
    margin-bottom: 0%;
    height: auto;
}

#strip1 {
    min-height: 50vh;
    max-height: 400px;
    background-position: top;
    background-image: url("img/realFlower.jpg");
    background-size: cover;
    position: relative;
}

.para {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}